@page "/admin/notifications"

@attribute [MustHavePermission(Permissions.System.Notification)]

<Remote_Table State="state" SearchPermission="@Permissions.System.Notification">
    <SearchContent>
        <Select_Users List="users" SelectedUserChanged="OnSelectUserChanged" />
    </SearchContent>
    <ButtonsContent>
        <Button EndIcon="@Icons.Material.Filled.Send" OnClick="OpenPushDialogAsync" Label="Push" />
    </ButtonsContent>
    <HeadContent>
        <th Style="width:15%;">FromUserId</th>
        <th Style="width:20%;">Title</th>
        <th Style="width:50%;">Message</th>
        <th>Status</th>
    </HeadContent>
    <RowTemplate>
        <td style="max-width: 300px; overflow-wrap: break-word; word-wrap: break-word;">
            @context.FromUserId
        </td>
        <td>@context.Title</td>
        <td class="text-break">
            @context.Message
            <div class="text-end">
                <i>
                    @if (!string.IsNullOrEmpty(context.FromName))
                    {
                        <b>@context.FromName</b>
                        <br />
                    }
                    <small>@context.Created.ToLocalTime()</small>
                </i>
            </div>
        </td>
        <td>
            <StatusCheckInput Label="Read" Value="@context.ReadStatus" />
        </td>
    </RowTemplate>
</Remote_Table>

@code {
    private RemoteTable<NotificationDto, NotificationLookup> state = null!;

    private NotificationLookup lookup => state.Lookup;

    private IEnumerable<UserDto> users = new List<UserDto>();

    protected override async Task OnInitializedAsync()
    {
        state = new(NotificationService.GetAsync);

        await state.ReloadAsync();
        
        var getUsers = await UserService.GetAsync();

        if (getUsers.Succeeded)
        {
            users = getUsers.Data;
        }
    }

    private void OnSelectUserChanged(UserDto? userDto)
    {
        lookup.ToUserId = userDto?.Id;
    }

    private async Task OpenPushDialogAsync()
    {
        var options = new DialogOptions()
        {
            BackdropClick = false,
            CloseOnEscapeKey = false,
            CloseButton = true,
            MaxWidth = MaxWidth.Small,
            FullWidth = true
        };

        var parameters = new DialogParameters<PushNotification_Dialog>
        {
            { x => x.Users, users }
        };

        var dialog = await DialogService.ShowAsync<PushNotification_Dialog>($"Push Notification", parameters, options);

        var result = await CallGuarded.GetDialogResultAsync(dialog);

        if (result.Succeeded)
        {
            await state.ReloadAsync();
        }
    }
}
